@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) {
    * {
        margin: 0;
        padding: 0;
    }
    body{
        margin: auto;
        background-color: #18402D;
    }
    main{
        max-width: 1024px;
        min-width: 400px;
        margin: auto;
        background-color: #ffffff;
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px;
        border-radius: 40px;
        border: 1px solid #F0CD5B ;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.318);
    }
    img{
        border-radius: 20px;
    }

    footer{
        background-color: #18402D;
    }
    
}